.titleLabel {
    -fx-text-fill: black;
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-font-family: 'Arial Narrow';
}

.authorLabel {
    -fx-text-fill: black;
    -fx-font-size: 18px;
    -fx-font-family: 'Arial Narrow';
}

.ratingLabel {
    -fx-text-fill: black;
    -fx-font-size: 16px;
    -fx-font-family: 'Arial Narrow';
}

.availableLabel {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-font-family: 'Arial Narrow';
}

.availableLabel[available="yes"] {
    -fx-text-fill: green;
}

.availableLabel[available="no"] {
    -fx-text-fill: red;
}

.imageView {
    -fx-border-width: 10px;
    -fx-border-radius: 5px;
    -fx-border-color: black;
    -fx-background-color: white;
}

.reviewButton {
    -fx-text-fill: black;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-font-family: 'Arial Narrow';
}