.menu-bar {
    -fx-background-color: #0a0a0a;
    -fx-pref-height: 40px;
    -fx-text-fill: white;
}

.menu {
    -fx-padding: 10 0 0 10;
}

.menu-item {
    -fx-text-fill: #ffffff;
}

.text-field {
    -fx-background-color: #f5f5f5;
    -fx-border-color: #ddd;
    -fx-border-width: 1px;
    -fx-border-radius: 3px;
    -fx-padding: 5px;
}

.button {
    -fx-background-color: #5d8dc7;
    -fx-text-fill: white;
    -fx-border-radius: 3px;
    -fx-padding: 5px 10px;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.5), 10, 0.5, 0, 1);
}

.button:hover {
    -fx-background-color: #162e5b;
    -fx-animation: shake 0.5s;
    -fx-scale-x: 1.08;
    -fx-scale-y: 1.08;
}

#border-pane{
    -fx-background-color: #000000;
}

#border-pane .center{
    -fx-background-color: #000000;
}


