.button {
    -fx-background-color: #836848;
    -fx-text-fill: black;
    -fx-border-radius: 3px;
    -fx-padding: 5px 10px;

}

.button:hover {
    -fx-background-color: #3f2e21;
    -fx-text-fill: #f3f1ea;
    -fx-animation: shake 0.5s;
    -fx-scale-x: 1.08;
    -fx-scale-y: 1.08;
}