.white-background{
    -fx-background-color: #FFFFFF;
}

.transparent{
    -fx-background-color: red;
}

.round-layout{
    -fx-background-radius: 50;
    -fx-background-color: #D7D7D7;
}

.seleceted{
    -fx-background-color: #F3F3F3;
}

.mouse-moved:hover{
    -fx-background-color: #E4E4E4;
}